body {
    width : 100vw;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    

    

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    'header header'
    'side main'
    'footer footer';
}




header {
    grid-area: header;
    background-color: black;
    color : white;

    display: flex;
    justify-content: center;
    align-items: center;
}
aside {
    grid-area: side;
    background-color: coral;

    display: flex;
    justify-content: center;
    align-items: center;

  
}

main {
    grid-area: main;
    padding: 3rem;
}


footer {
    grid-area: footer;
    background-color: black;
    color : white
}